.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

body {
    color: #000;
    background-color: #fbfbfb;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 66px;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.4;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    color: #000000;
    letter-spacing: .7px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    transition: color .35s;
}

a:hover {
    color: #5A4F4F;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 500;
}

li {
    font-size: 18px;
}

blockquote {
    border-top: 2px solid #000000;
    border-left: 5px #e2e2e2;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px 32px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
}

figure {
    margin-top: 0;
    margin-bottom: 0;
}

figcaption {
    text-align: center;
    margin-top: 6px;
}

.section.black-section {
    background-color: #000000;
}

.section.white-section {
    background-color: #fff;
}

.section.overflow-hidden {
    overflow: hidden;
}

.section.relative {
    z-index: 1;
    position: relative;
}

.section.pricing-section {
    background-color: #000000;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.container.nav-container {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-menu-container {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar {
    z-index: 20;
    height: 60px;
    background-color: #dddddd00;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.nav-menu {
    font-weight: 600;
    display: none;
}

.center-text {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.top-margin-l {
    margin-top: 3em;
}

.button {
    color: #fff;
    background-color: #000000;
    background-image: linear-gradient(#000000, #000000);
    border-radius: 6px;
    padding: 15px 42px;
    font-size: 18px;
    font-weight: 400;
    transition: transform .2s, border-radius .2s, box-shadow .5s;
    box-shadow: 4px 4px 24px rgba(31, 31, 31, .2), inset 2px 2px 13px rgba(195, 195, 195, .25);
}

.button:hover {
    color: #fff;
    border-radius: 8px;
    transform: scale(1.03);
    box-shadow: 0 0 24px #1f1f1f69, inset 2px 2px 12px #AAA29B;
}

.button.big {
    padding: 20px 40px;
}

.button.white {
    width: 100%;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
}

.grid-6-col {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.utility-page-wrap {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.utility-page-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.utility-page-form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.link-block {
    color: #5A4F4F;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: color .4s;
}

.link-block:hover {
    color: #000;
}

.link-block.animation-01,
.link-block.animation-02,
.link-block.animation-03,
.link-block.animation-04 {
    overflow: hidden;
}

.link-block.animation-05 {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.link-block-underline {
    width: 100%;
    height: 1px;
    background-color: #8d8d8d;
    margin-top: 2px;
}

.link-block-underline._02,
.link-block-underline._01 {
    height: 1px;
}

.link-block-underline._01._2px {
    height: 2px;
}

.footer {
    align-items: flex-start;
    padding: 30px 0;
}

.footer-flex-container {
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    text-align: left;
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1.25fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    margin-bottom: 40px;
    display: grid;
}

.made-by-section {
    color: #AAA29B;
    justify-content: center;
    padding: 30px 0 0;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    overflow: hidden;
}

.text-field {
    height: 50px;
    color: #414141;
    background-color: rgba(240, 240, 240, .11);
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    font-size: 16px;
    transition: transform .4s, border-color .4s;
}

.text-field:focus {
    border-color: #AAA29B;
    transform: translate(0, 4px);
}

._100-width {
    width: 100%;
}

.instructions-image {
    width: 100%;
    border-radius: 3px;
}

.change-log-container {
    grid-column-gap: 40px;
    background-color: #fff;
    padding: 25px;
    display: flex;
}

.menu-button {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: none;
}

.center-box {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-underline {
    height: 1px;
    background-color: #AAA29B;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.style-guide-small-title {
    color: #000;
    font-size: 21px;
    font-weight: 400;
}

.colors-container {
    background-color: #fafafa;
}

.font-holder {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: #f5f5f5;
    justify-content: space-between;
    margin-top: 30px;
    padding: 45px 70px;
    display: flex;
}

.paragraph-s {
    font-size: 16px;
    line-height: 1.8;
}

.button-grid {
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 2em;
    display: grid;
}

.aa-font {
    font-size: 130px;
}

.style-guide-navbar {
    z-index: 30;
    height: 60px;
    color: #fff;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.subscribe-field-text {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 30px 109px 30px 17px;
    font-size: 18px;
    font-weight: 500;
    transition: border-color .4s;
}

.subscribe-field-text:focus {
    border-color: #ffd660;
}

.subscribe-field-text::-ms-input-placeholder {
    color: #AAA29B;
}

.subscribe-field-text::placeholder {
    color: #AAA29B;
}

.style-guide-title-holder {
    flex-direction: column;
}

.button-holder {
    grid-row-gap: 30px;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    display: flex;
}

.headings-holder {
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    display: flex;
}

.style-guide-navbar-link {
    height: 35px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
}

.link-block-2 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: color .4s;
}

.link-block-2:hover {
    color: #fff;
}

.link-block-2.animation-05 {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.link-block-2.animation-03 {
    overflow: hidden;
}

.font-details-holder {
    grid-row-gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.borders-2 {
    width: 100%;
    opacity: .58;
    color: #000;
    border: 1px solid #AAA29B;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 300;
    display: flex;
}

.borders-2.center {
    height: 100px;
}

.style-guide-gray-background {
    background-color: #f5f5f5;
}

.x-icon {
    width: 14px;
}

.link-underline-holder {
    height: 2px;
    position: relative;
}

.paragraph-container {
    width: 80%;
    margin-top: 10px;
}

.grid-8-col {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.grid-4-col {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content {
    grid-column-gap: 16px;
    align-items: center;
}

.grid-holder {
    grid-row-gap: 30px;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    display: flex;
}

.style-guide-tab-holder {
    width: 120%;
    color: #000;
    border-radius: 5px;
    margin-left: -25px;
    padding: 11px 25px 11px 49px;
    font-size: 16px;
    font-weight: 400;
    transition-property: background-color;
    transition-duration: .675s;
}

.style-guide-tab-holder.w--current {
    color: #fff;
    background-color: #000000;
}

.style-guide-home-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.style-guide-home-text.hide-mobile {
    display: block;
}

.colors-holder {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    display: flex;
}

.h6-fixed {
    font-size: 24px;
}

.sg---color-black {
    width: 235px;
    height: 150px;
    background-color: #000000;
}

.sg---color-black.orange {
    background-color: #000000;
}

.style-guide-container {
    display: flex;
}

.headings-container {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column;
    margin-top: 30px;
    display: flex;
}

.submit-button-arrow {
    height: 100%;
    color: #030303;
    background-color: #d9d9d9;
    border-radius: 0 8px 8px 0;
    padding: 0 21px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.no-margins {
    margin-top: 0;
    margin-bottom: 0;
}

.style-guide-x-button {
    width: 52px;
    height: 52px;
    min-height: 52px;
    min-width: 52px;
    background-color: #f5f5f5;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    transition: background-color .4s;
    display: flex;
    position: fixed;
    top: .3em;
    bottom: auto;
    left: auto;
    right: 2em;
}

.style-guide-x-button:hover {
    background-color: #000000;
}

.style-guide-left-panel-holder {
    width: 405px;
    background-color: #f5f5f5;
    align-items: flex-start;
    display: flex;
}

.paragraph-extra-small {
    font-size: 14px;
    font-weight: 300;
}

.style-guide-panel-title {
    color: #b5ada5;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}

.success-message {
    color: #fff;
    background-color: #000000;
    border-radius: 12px;
    padding: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.subscribe-form {
    position: relative;
}

.style-guide-left-panel {
    width: 100%;
    grid-row-gap: 25px;
    flex-direction: column;
    padding: 35px 8px 0 35px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.sg---color-description {
    grid-row-gap: 2px;
    background-color: #f5f5f5;
    flex-direction: column;
    padding: 15px;
    display: flex;
}

.left-underline {
    height: 1px;
    background-color: #AAA29B;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.style-guide-empty-container {
    padding: 50px;
}

.grid-2-col {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
}

.contact-field-text {
    height: 60px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    border-bottom: 1px solid #5A4F4F;
    border-radius: 0;
    flex: 1;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 400;
    transition: border-color .375s;
    display: inline-block;
}

.contact-field-text:hover {
    border-bottom-color: #fff;
}

.contact-field-text:focus {
    border-bottom-color: #ffd660;
}

.contact-field-text::-ms-input-placeholder {
    color: #5A4F4F;
    font-weight: 300;
}

.contact-field-text::placeholder {
    color: #5A4F4F;
    font-weight: 300;
}

.style-guide-hero-holder {
    grid-row-gap: 20px;
    flex-direction: column;
    padding: 50px 380px 50px 50px;
    display: flex;
}

.style-guide-main-panel {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.hero-section-holder {
    z-index: 19;
    height: 100vh;
    position: relative;
}

.hero-section-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.hero-section-text-content {
    perspective: 1000px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.hero-section-header-container {
    max-width: 580px;
    text-align: center;
}

.hero-paragraph-holder {
    max-width: 468px;
}

.hero-section-button-holder {
    margin-top: 40px;
}

.tabs-container {
    padding-top: 24vh;
    padding-bottom: 40px;
}

.grey-paragraph {
    color: #AAA29B;
}

.tab-wrapper {
    grid-column-gap: 30px;
    align-items: center;
    display: flex;
}

.tab-circle {
    width: 70px;
    height: 70px;
    min-height: 70px;
    min-width: 70px;
    background-color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 6px 6px 26px #65656542, inset -6px -6px 15px rgba(121, 120, 120, .1);
}

.tab-icon {
    width: 24px;
    height: 24px;
}

.tab-content-holder {
    grid-row-gap: 10px;
    flex-direction: column;
    display: flex;
}

.tab-title {
    font-size: 24px;
}

.tab-paragraph {
    color: #AAA29B;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.tab-link {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #785B52;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 24px 50px 24px 24px;
}

.tab-link:hover {
    color: #000;
    border-color: #e4e4e4;
}

.tab-link.w--current {
    background-color: #fff;
    border-color: #000000;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .05), 0 2px 5px rgba(61, 92, 255, .1);
}

.tabs-content {
    width: 100%;
    padding-left: 30px;
    overflow: visible;
}

.payment-config-section {
    grid-column-gap: 60px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.payment-config-sticky-section {
    max-width: 550px;
    grid-row-gap: 6px;
    flex-direction: column;
    display: flex;
}

.payment-config-content {
    max-width: 470px;
    grid-row-gap: 50px;
    flex-direction: column;
    display: flex;
}

.white-text {
    color: #fff;
}

.payment-paragraph {
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
}

.payment-title {
    max-width: 410px;
}

.payment-config-content-holder {
    grid-row-gap: 16px;
    flex-direction: column;
    display: flex;
}

.white-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
}

.payment-image-holder {
    width: 100%;
}

.debit-card-image {
    border-radius: 21px;
}

.payment-sticky {
    grid-row-gap: 12px;
    flex-direction: column;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 13%;
}

.features-section {
    grid-row-gap: 130px;
    flex-direction: column;
    padding-top: 99px;
    padding-bottom: 99px;
    display: flex;
}

.feature-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.feature-image-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.feature-image {
    width: 90%;
}

.feature-text-holder {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.fetaure-stars-holder {
    width: 110px;
}

.feature-stars {
    width: 100%;
}

.feature-testimonial {
    grid-row-gap: 12px;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 12px;
    display: flex;
}

.feature-testimonial-paragraph {
    max-width: 470px;
}

.feature-person-holder {
    grid-column-gap: 9px;
    align-items: center;
    display: flex;
}

.feature-person-profile-picture-holder {
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 20px;
    overflow: hidden;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 300;
}

.feature-list-holder {
    grid-row-gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.checkmark-list-holder {
    grid-column-gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}

.checkmark-icon-holder {
    width: 26px;
    height: 26px;
    min-width: 26px;
    background-image: linear-gradient(225deg, #000000, #000000);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.list-text {
    color: #AAA29B;
    padding-top: 2px;
    font-weight: 300;
}

.list-text.white-text {
    color: #fff;
}

.cards-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards-wrapper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.cards-grid {
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    column-count: 2;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
}

.card-holder {
    width: 100%;
    height: 100%;
    min-width: 50%;
    background-color: #fff;
    border: 2px solid #e8e8e8;
    border-radius: 22px;
    transition: box-shadow .6s, border-color .6s, transform .6s;
}

.card-holder:hover {
    border-color: #000000;
    transform: translate(0, -12px);
    box-shadow: 4px 4px 42px rgba(0, 0, 0, .16);
}

.card-container {
    width: 100%;
}

.card-image-holder {
    width: 100%;
    overflow: hidden;
}

.card-image {
    width: 100%;
    border-radius: 20px;
}

.card-text-holder {
    grid-row-gap: 12px;
    flex-direction: column;
    padding: 30px;
    display: flex;
}

.card-text-holder.no-padding-bot {
    padding-bottom: 0;
}

.black-title {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
}

.card-paragraph-holder {
    max-width: 400px;
}

.featured-cards {
    width: 100%;
    grid-row-gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.pricing-tab-holder {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    display: flex;
}

.pricing-tab {
    z-index: 6;
    border-radius: 0 20px 20px;
    position: relative;
}

.pricing-wrapper {
    padding-top: 34px;
    padding-bottom: 34px;
}

.pricing-tab-content {
    z-index: 3;
    grid-row-gap: 12px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #000000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    display: flex;
    position: relative;
}

.pricing-sub-title {
    color: rgba(255, 255, 255, .6);
    font-size: 18px;
    font-weight: 300;
}

.pricing-title {
    color: #fff;
    font-size: 42px;
}

.pricing-list-holder {
    margin-top: 80px;
}

.checkmark-white {
    width: 22px;
}

.pricing-button-holder {
    width: 100%;
    margin-top: 14px;
}

.pricing-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.background-blue-holder {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
}

.background-blur {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#501300 26%, #733725 70%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.blur-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.blur-ancor {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
}

.signup-from-holder {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}

.signup-from-container {
    width: 80%;
    background-color: #31344e;
    border: 1px solid #000000;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    display: flex;
}

.signup-from-text-holder {
    max-width: 400px;
    grid-row-gap: 12px;
    flex-direction: column;
    display: flex;
}

.no-margin-white-text {
    color: #e8eaed;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 1.5;
}

.cta-text-field {
    width: 100%;
    height: 56px;
    color: #fff;
    background-color: #1c1e2d;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-bottom: 0;
    padding-left: 18px;
    font-size: 16px;
}

.cta-text-field::-ms-input-placeholder {
    color: rgba(232, 234, 237, .6);
    font-weight: 200;
}

.cta-text-field::placeholder {
    color: rgba(232, 234, 237, .6);
    font-weight: 200;
}

.form {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
}

.submit-button {
    width: 39px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../image/Blue-Arrow.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 29px;
    padding-bottom: 0;
    transition: background-position .2s;
    position: absolute;
}

.submit-button:hover {
    background-position: 60%;
}

.form-block {
    width: 40%;
    margin-bottom: 0;
}

.customers-section-holder {
    padding-top: 90px;
    padding-bottom: 90px;
}

.customer-logo {
    width: 100%;
    height: 40px;
}

.cta-holder {
    margin-top: -110px;
    padding-top: 180px;
    padding-bottom: 180px;
    position: relative;
}

.cta-paragraph {
    max-width: 470px;
}

.cta-header-holder {
    max-width: 490px;
}

.cta-buttons-holder {
    grid-column-gap: 30px;
    margin-top: 60px;
    display: flex;
}

.cta-image-holder {
    width: 170px;
    transition-property: transform;
}

.cta-image-holder:hover {
    transform: translate(0, -4px);
}

.cta-image {
    width: 100%;
}

.footer-brand {
    flex-direction: column;
    display: flex;
}

.footer-brand-image {
    width: 140px;
}

.footer-info {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: #AAA29B;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    display: flex;
}

.footer-link {
    color: #AAA29B;
    font-size: 18px;
    font-weight: 300;
}

.footer-link-holder {
    grid-row-gap: 15px;
    flex-direction: column;
    display: flex;
}

.hero-phone-holder {
    width: 100%;
    grid-row-gap: 30px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.hero-phone-holder.second,
.hero-phone-holder.third {
    position: relative;
    top: -22%;
}

.harsh-shadow {
    width: 160%;
    height: 115%;
    max-width: none;
    position: relative;
    top: 7%;
    left: 36%;
}

.iphone-container {
    width: 100%;
    max-width: 250px;
}

.iphone-image {
    z-index: 5;
    width: 100%;
    position: relative;
}

.iphone-holder {
    width: 100%;
    position: relative;
}

.iphone-screen-container {
    z-index: 2;
    border-radius: 7%;
    position: absolute;
    top: 2.2%;
    bottom: 2.3%;
    left: 5.2%;
    right: 5.2%;
    overflow: hidden;
    box-shadow: 11px 11px 20px rgba(0, 0, 0, .3);
}

.iphone-shadow-container {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.iphone-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-side-iphones {
    width: 35vw;
    grid-column-gap: 30px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -160px;
    right: auto;
}

.fixed-navbar {
    z-index: 20;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.right-side-iphones {
    width: 35vw;
    grid-column-gap: 30px;
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: -160px;
}

.brand {
    width: 140px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 12px;
    padding: 9px 24px;
}

.brand-image {
    width: 100%;
}

.stacked-tabs-holder {
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    display: flex;
}

.stacked-tabs-container {
    z-index: 10;
    width: 520px;
    min-width: 520px;
    background-color: #fbfbfb;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;
}

.stacked-tabs-content-holder {
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}

.stacked-tabs-pane-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.stacked-tab-holder {
    width: 100%;
}

.stacked-tab-holder._01 {
    z-index: 4;
    position: relative;
}

.stacked-tab-holder._02 {
    z-index: 3;
    opacity: .7;
    position: absolute;
    transform: scale(.9)translate(76px);
}

.stacked-tab-holder._03 {
    z-index: 2;
    opacity: .3;
    position: absolute;
    transform: scale(.8)translate(167px);
}

.stacked-tab-image {
    width: 100%;
    border: .7px solid #eeeeee;
    border-radius: 12px;
    box-shadow: 6px 6px 41px #5A4F4F;
}

.stacked-gradient {
    z-index: 9;
    width: 70vw;
    height: 120%;
    background-image: linear-gradient(270deg, rgba(251, 251, 251, 0) 13%, #fbfbfb 23%);
    position: absolute;
    left: -50vw;
    right: auto;
}

.hide {
    display: none;
}

._404-image-holder {
    width: 190px;
}

._404-image {
    width: 100%;
}

._404-heading-holder {
    margin-top: 2em;
}

.mobile-link {
    display: none;
}

.hide-mobile {
    display: block;
}

.blue-cta-holder {
    background-image: radial-gradient(circle at 70%, #000000, #000000);
    border-radius: 32px;
    margin-top: 130px;
}

.blue-cta-container {
    grid-column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
}

.cta-blue-text-holder {
    max-width: 540px;
    min-width: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cta-blue-hand-holder {
    width: 100%;
    margin-top: -180px;
    position: relative;
}

.cta-blue-hand-image {
    z-index: 1;
    width: 100%;
    position: relative;
}

.cta-title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 500;
}

.screen-inside-iphone-holder {
    padding: 4% 27% 35% 17%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.screen-inside-iphone {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.cta-logo-holder {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cta-logo-grid {
    width: 100%;
    grid-column-gap: 76px;
    grid-row-gap: 67px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: stretch;
    display: grid;
}

.cta-logo-container {
    max-width: 250px;
    min-width: 130px;
}

.cta-logo {
    width: 100%;
    max-height: 35px;
    max-width: 150px;
    object-fit: contain;
}

.cta-grid-holder {
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.licensing-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.licensing-content {
    grid-row-gap: 8px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.licensing-title {
    font-size: 24px;
    font-weight: 500;
}

.feather-icon {
    width: 100%;
}

.licensing-link-holder {
    grid-column-gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    transition-property: opacity;
    display: flex;
}

.licensing-link-holder:hover {
    opacity: .7;
}

.licensing-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.licensing-grid.feather-icon {
    justify-content: space-around;
    display: flex;
}

.licensing-cards {
    grid-row-gap: 30px;
    flex-direction: column;
    display: flex;
}

.licensing-cards-container {
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-top: 69px;
    padding-bottom: 69px;
}

.licensing-cards-wrapper {
    width: 100%;
    height: 100%;
    grid-row-gap: 45px;
    background-color: #fff;
    flex-direction: column;
    padding: 50px;
    display: flex;
}

.feather-icon-holder {
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo-to-use-image {
    height: 100%;
}

.logo-to-use-holder {
    height: 24px;
}

.licensing-image-holder {
    width: 100%;
}

.left {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.grey-link {
    color: #858697;
    font-weight: 400;
}

.text-block {
    color: #858697;
}

.made-by-horizontal-block {
    flex-direction: row;
    display: flex;
}

.horizontal-footer-link-holder {
    display: flex;
}

.by {
    margin-right: 5px;
}

.by.left-margin {
    margin-left: 10px;
}

.and {
    padding-left: 5px;
    padding-right: 5px;
}

.buy-template-link {
    grid-column-gap: 10px;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    transition: border-color .4s, opacity .4s, box-shadow .475s;
    display: flex;
    position: relative;
    overflow: hidden;
}

.buy-template-link:hover {
    opacity: 1;
    color: #000;
    border-color: #785B52;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .23);
}

.buy-this-template-button-container {
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: #fff;
    border-radius: 6px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
    display: flex;
}

.buy-this-template-content {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.buy-this-template-text {
    color: #000;
    font-weight: 400;
}

.buy-webflow-template-content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.webflow-icon {
    width: 20px;
    height: 20px;
    background-image: url('../image/webflow-blue-icon.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-right: 5px;
    display: block;
}

.buy-template-price {
    font-weight: 700;
}

.buy-template-holder {
    z-index: 20;
    grid-column-gap: 10px;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.test_image {
    height: auto;
    max-height: 99.9%;
    max-width: 100.1%;
    position: static;
}

.heading {
    margin-top: 0;
}

.heading-2 {
    margin-bottom: 10px;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1350px;
    }
    .tabs-container {
        padding-top: 40vh;
    }
    .signup-from-holder {
        display: flex;
    }
    .signup-from-container {
        width: 80%;
    }
    .signup-from-text-holder {
        max-width: 450px;
    }
    .hero-phone-holder {
        align-items: flex-end;
    }
    .hero-phone-holder.second {
        align-items: flex-start;
    }
    .hero-phone-holder.third {
        align-items: flex-end;
    }
    .hero-phone-holder.forth {
        align-items: flex-start;
    }
    .iphone-container {
        max-width: 300px;
    }
    .left-side-iphones {
        grid-column-gap: 30px;
        justify-content: center;
    }
    .mobile-link {
        display: none;
    }
    .blue-cta-holder {
        margin-top: 180px;
    }
    .blue-cta-container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .cta-blue-hand-holder {
        width: 100%;
    }
    .heading-2 {
        margin-bottom: 10px;
        position: static;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    .nav-menu {
        background-color: #d4d4d4;
        border: 2px solid #c5c5c5;
        border-radius: 12px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .grid-6-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .link-block {
        padding-top: 0;
        padding-bottom: 2px;
    }
    .link-block-underline {
        display: none;
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-flex-container {
        grid-template-columns: 1fr 1fr;
    }
    .made-by-section {
        flex-direction: column;
        align-items: center;
    }
    .menu-button {
        width: 0;
        height: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: none;
    }
    .menu-button.w--open {
        background-color: #1f1f1f;
        border-radius: 10px;
        padding: 20px;
    }
    .center-box {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .link-block-2 {
        padding-top: 0;
        padding-bottom: 2px;
    }
    .grid-8-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .style-guide-tab-holder {
        margin-left: 0;
        padding: 5px 0;
    }
    .style-guide-container {
        flex-direction: column;
    }
    .style-guide-left-panel-holder {
        width: 100%;
    }
    .style-guide-left-panel {
        grid-column-gap: 16px;
        grid-row-gap: 50px;
        flex-direction: row;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        padding: 17px;
        display: grid;
    }
    .style-guide-empty-container {
        padding: 17px 0;
    }
    .style-guide-hero-holder {
        padding: 28px;
    }
    .style-guide-main-panel {
        padding: 16px;
    }
    .hero-section-text-content {
        max-width: 49%;
    }
    .tabs-container {
        padding-top: 0;
    }
    .payment-config-section {
        flex-direction: column;
    }
    .payment-config-sticky-section {
        max-width: 100%;
    }
    .payment-config-content {
        max-width: 100%;
        margin-top: 3em;
    }
    .payment-title {
        max-width: 100%;
    }
    .feature-grid {
        flex-direction: column;
        display: flex;
    }
    .feature-testimonial-holder {
        padding-top: 4em;
    }
    .signup-from-container {
        width: 100%;
        grid-row-gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .signup-from-text-holder {
        max-width: 100%;
    }
    .form-block {
        width: 100%;
    }
    .hero-phone-holder.second {
        justify-content: center;
        align-items: flex-start;
        top: -26%;
    }
    .hero-phone-holder.third {
        justify-content: center;
        top: -26%;
    }
    .hero-phone-holder.first {
        justify-content: flex-start;
        align-items: flex-end;
    }
    .iphone-container {
        max-width: 100px;
    }
    .iphone-screen-container {
        border-radius: 8px;
    }
    .left-side-iphones {
        width: 35vw;
        left: -85px;
    }
    .right-side-iphones {
        right: -85px;
    }
    .stacked-tabs-holder {
        grid-row-gap: 40px;
        flex-direction: column;
    }
    .stacked-tabs-container {
        width: 100%;
        min-width: 100%;
    }
    .stacked-tabs-content-holder {
        justify-content: flex-start;
    }
    .stacked-tabs-pane-holder {
        width: 80%;
    }
    .blue-cta-holder {
        margin-top: 0;
    }
    .blue-cta-container {
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
    }
    .cta-blue-hand-holder {
        width: 60%;
        margin-top: 0;
    }
    .made-by-horizontal-block {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .horizontal-footer-link-holder.top-bottom-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
    .footer {
        padding: 40px 20px;
    }
    .change-log-container {
        height: 340px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .font-holder {
        flex-direction: column;
        padding: 16px;
    }
    .grid-8-col {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-4-col {
        grid-template-columns: 1fr 1fr;
    }
    .colors-holder {
        flex-direction: column;
        align-items: flex-start;
    }
    .style-guide-left-panel {
        grid-template-columns: 1fr 1fr;
    }
    .style-guide-empty-container {
        padding-left: 0;
        padding-right: 0;
    }
    .hero-section-text-content {
        max-width: 80%;
        position: relative;
        top: 21.5vh;
    }
    .tab-link {
        padding-right: 24px;
    }
    .feature-grid {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }
    .feature-text-holder {
        padding-top: 0;
    }
    .cards-grid {
        flex-direction: column;
    }
    .footer-brand {
        margin-bottom: 2em;
    }
    .hero-phone-holder.third {
        align-items: flex-end;
    }
    .hero-phone-holder.forth {
        align-items: flex-start;
    }
    .left-side-iphones,
    .right-side-iphones {
        width: 50vw;
    }
    .cta-blue-text-holder {
        max-width: 100%;
        min-width: 0;
    }
    .cta-logo-holder {
        grid-row-gap: 60px;
        flex-direction: column;
        align-items: flex-start;
    }
    .cta-grid-holder {
        width: 100%;
    }
    .licensing-grid {
        grid-template-columns: 1fr 1fr;
    }
    .licensing-grid.feather-icon {
        flex-direction: row;
        justify-content: space-between;
    }
    .feather-icon-holder {
        width: 20px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    p {
        font-size: 14px;
    }
    .section.pricing-section {
        overflow: hidden;
    }
    .container {
        padding: 1em;
    }
    .button {
        font-size: 14px;
    }
    .button.white {
        padding-left: 12px;
        padding-right: 12px;
    }
    .grid-6-col {
        grid-template-columns: 1fr;
    }
    .utility-page-content {
        padding: 29px;
    }
    .utility-page-form {
        height: 420px;
        justify-content: space-between;
        padding: 30px;
    }
    .footer {
        text-align: left;
        padding: 21px 0;
    }
    .footer-flex-container {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .made-by-section {
        margin-top: 0;
        padding: 0;
    }
    .paragraph-s {
        font-size: 16px;
    }
    .button-grid {
        grid-template-columns: 1fr;
    }
    .style-guide-navbar {
        padding-left: .3em;
        padding-right: .3em;
    }
    .headings-holder {
        padding: 10px;
    }
    .style-guide-navbar-link {
        justify-content: center;
        align-items: center;
    }
    .paragraph-container {
        width: 100%;
    }
    .grid-8-col {
        grid-template-columns: 1fr 1fr;
    }
    .style-guide-tab-holder {
        font-size: 19px;
    }
    .style-guide-home-text.hide-mobile {
        display: none;
    }
    .style-guide-x-button {
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        top: .3em;
        right: 0;
    }
    .paragraph-extra-small {
        font-size: 15px;
    }
    .style-guide-panel-title {
        font-size: 18px;
    }
    .style-guide-left-panel {
        grid-row-gap: 20px;
        flex-direction: column;
        padding: 23px 12px;
        display: flex;
    }
    .grid-2-col {
        grid-template-columns: 1fr;
    }
    .hero-section-text-content {
        max-width: 90%;
    }
    .hero-section-header-container {
        max-width: 100%;
    }
    .grey-paragraph {
        font-size: 14px;
    }
    .tab-wrapper {
        grid-row-gap: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .tab-circle {
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        box-shadow: 6px 6px 15px rgba(101, 101, 101, .26), inset -6px -6px 15px rgba(121, 120, 120, .1);
    }
    .tab-icon {
        width: 20px;
        height: 20px;
    }
    .tab-title {
        font-size: 18px;
    }
    .tab-paragraph {
        font-size: 14px;
    }
    .tab-link {
        padding: 12px;
        position: relative;
    }
    .payment-config-section {
        padding-top: 49px;
        padding-bottom: 49px;
    }
    .debit-card-image {
        border-radius: 8px;
    }
    .list-text {
        font-size: 14px;
    }
    .card-holder {
        border-radius: 10px;
    }
    .card-text-holder {
        padding: 17px;
    }
    .black-title {
        font-size: 20px;
    }
    .signup-from-container {
        grid-row-gap: 60px;
        padding: 21px;
    }
    .customers-section-holder {
        padding-bottom: 20px;
    }
    .cta-holder {
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .cta-buttons-holder {
        grid-row-gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-info {
        grid-row-gap: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-phone-holder.second,
    .hero-phone-holder.third {
        align-items: center;
        top: 30px;
    }
    .hero-phone-holder.forth {
        align-items: flex-start;
    }
    .harsh-shadow {
        top: 8%;
        left: 37%;
    }
    .iphone-container {
        max-width: 76px;
    }
    .left-side-iphones {
        width: 80vw;
        top: 0%;
        bottom: auto;
        left: -30%;
        right: auto;
    }
    .right-side-iphones {
        width: 80vw;
        top: 0%;
        bottom: auto;
        left: auto;
        right: -30%;
    }
    .brand {
        width: 110px;
    }
    .stacked-tabs-holder {
        margin-top: 40px;
    }
    .stacked-tabs-pane-holder {
        width: 80%;
    }
    .stacked-tab-image {
        border-radius: 8px;
        box-shadow: 6px 6px 8px rgba(86, 86, 86, .15);
    }
    .stacked-gradient {
        display: none;
    }
    .mobile-link {
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0;
        display: block;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .hide-mobile {
        display: none;
    }
    .blue-cta-holder {
        border-radius: 12px;
    }
    .blue-cta-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cta-blue-text-holder {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cta-blue-hand-holder {
        width: 100%;
    }
    .screen-inside-iphone {
        border-radius: 5px;
    }
    .cta-logo-grid {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    .cta-logo-container {
        max-width: 150px;
        min-width: 40px;
    }
    .licensing-grid {
        flex-direction: column;
        display: flex;
    }
    .licensing-grid.feather-icon {
        flex-direction: column;
        align-items: center;
    }
    .licensing-grid.feather-icon.grid {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        justify-items: center;
        display: grid;
    }
    .licensing-cards-container {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .licensing-cards-wrapper {
        padding: 27px;
    }
    .feather-icon-holder {
        width: auto;
    }
    .made-by-horizontal-block {
        align-items: flex-start;
    }
    .by.left-margin {
        margin-left: 0;
        font-size: 16px;
    }
    ._16px {
        font-size: 16px;
    }
    .buy-template-holder {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

#w-node-_77789d64-d6ad-83b5-5af1-ea5afa8d0f96-0e21a08b {
    grid-area: 1 / 2 / 2 / 8;
}

#w-node-_52d8ff9b-d99f-0f6e-92f8-5b64a289a5b9-0e21a08b,
#w-node-_7bad64f3-c758-257f-b60f-91adddf9b627-0e21a08b,
#w-node-f41226f4-74c9-86f8-7aea-98a695473461-0e21a08b,
#w-node-f41226f4-74c9-86f8-7aea-98a69547345f-0e21a08b {
    grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-d5ab1ee6-0abe-c9d5-2f0c-ccac64bdd816-0e21a08b {
    grid-area: 1 / 2 / 2 / 8;
}

#w-node-_539f8ba4-c08d-ee85-2409-69623da78972-0e21a08b,
#w-node-aa6d2952-65c7-ef68-8a7b-02ead5e0bd42-0e21a08b,
#w-node-_45aab09d-36a5-3bc7-26df-bc1037daf4f6-0e21a08b,
#w-node-_45aab09d-36a5-3bc7-26df-bc1037daf4ec-0e21a08b {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f14b6e27-ed71-c6ed-e9f5-9843c7df92ee-0e21a08b {
    grid-area: 1 / 3 / 2 / 7;
}

#w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda8e-0e21a08b,
#w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda92-0e21a08b {
    grid-area: 1 / 2 / 2 / 8;
}

#w-node-_1faa8986-67d3-0561-534b-ecd721750ef6-0e21a08b,
#w-node-_821c0d87-b5cb-43f1-e1f8-6557d367a94f-0e21a08b,
#w-node-_774032d3-6ed6-1ff7-f4d5-d48e1680f28a-0e21a08b,
#w-node-ab57a118-64f6-6c07-a189-241e4ec70f8f-0e21a08b,
#w-node-_58b37029-fe62-9e32-414c-7938f9e2ec54-0e21a08b,
#w-node-_0d6a082e-a692-5022-d21e-d54a2c5a5fc7-0e21a08b {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6a983adf-29bb-bea4-f1c9-518466de9af8-0a144c54 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-cf1c1ab5-fbd3-d564-eb86-52de3d5d1ab9-0e21a093,
#w-node-cf1c1ab5-fbd3-d564-eb86-52de3d5d1abb-0e21a093,
#w-node-cf1c1ab5-fbd3-d564-eb86-52de3d5d1abd-0e21a093,
#w-node-cf1c1ab5-fbd3-d564-eb86-52de3d5d1abf-0e21a093 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_81f5e253-87b7-470b-b5f7-387401a925f9-0e21a095,
#w-node-_81f5e253-87b7-470b-b5f7-387401a92606-0e21a095,
#w-node-_81f5e253-87b7-470b-b5f7-387401a92667-0e21a095,
#w-node-_81f5e253-87b7-470b-b5f7-387401a9266d-0e21a095,
#w-node-_81f5e253-87b7-470b-b5f7-387401a92672-0e21a095,
#w-node-_81f5e253-87b7-470b-b5f7-387401a92677-0e21a095 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 991px) {
    #w-node-_77789d64-d6ad-83b5-5af1-ea5afa8d0f96-0e21a08b,
    #w-node-d5ab1ee6-0abe-c9d5-2f0c-ccac64bdd816-0e21a08b,
    #w-node-f14b6e27-ed71-c6ed-e9f5-9843c7df92ee-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda8e-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda92-0e21a08b {
        grid-area: span 1 / span 6 / span 1 / span 6;
    }
}

@media screen and (max-width: 767px) {
    #w-node-_77789d64-d6ad-83b5-5af1-ea5afa8d0f96-0e21a08b {
        grid-column: span 4 / span 4;
    }
    #w-node-_52d8ff9b-d99f-0f6e-92f8-5b64a289a5b9-0e21a08b,
    #w-node-_7bad64f3-c758-257f-b60f-91adddf9b627-0e21a08b,
    #w-node-f41226f4-74c9-86f8-7aea-98a695473461-0e21a08b {
        grid-column: span 2 / span 2;
    }
    #w-node-f41226f4-74c9-86f8-7aea-98a69547345f-0e21a08b {
        grid-area: 1 / 1 / 2 / 3;
    }
    #w-node-d5ab1ee6-0abe-c9d5-2f0c-ccac64bdd816-0e21a08b,
    #w-node-f14b6e27-ed71-c6ed-e9f5-9843c7df92ee-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda8e-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda92-0e21a08b {
        grid-column: span 4 / span 4;
    }
    #w-node-eb050d0c-cd20-6fbc-5d31-0eaf0a144c59-0a144c54,
    #w-node-_40382bd6-a79c-0890-7f58-1ed22ce7a6ff-0a144c54,
    #w-node-_19d66aab-9c90-b904-3ee5-6e4373744c48-0a144c54 {
        grid-area: span 1 / span 2 / span 1 / span 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-_77789d64-d6ad-83b5-5af1-ea5afa8d0f96-0e21a08b {
        grid-column: span 3 / span 3;
    }
    #w-node-d5ab1ee6-0abe-c9d5-2f0c-ccac64bdd816-0e21a08b,
    #w-node-f14b6e27-ed71-c6ed-e9f5-9843c7df92ee-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda8e-0e21a08b,
    #w-node-_9b63d825-4fc3-9b46-2b3f-0d190a8fda92-0e21a08b {
        grid-column: span 2 / span 2;
    }
}